html, body {
  font-family: Avenir, sans-serif;
  max-height: 100%;
  background: #6441a5;
}


.body-2 {
  background: #815fc0;
  margin: 0 auto;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  /*-webkit-animation: breathe 0.5s infinite;*/
}

.background {
  /*border: 2px solid orange;*/
  margin: 10% auto;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  animation: leftIntro 0.3s;
}

.background-right-hand {
  /*border: 2px solid orange;*/
  margin: 10% auto;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  animation: rightIntro 0.5s;
}

.container {
  padding: 0;
  margin: 0 auto;
}

.btn.sign-up {
  float: right;
  background-color: white;
  color: black;
}

.btn.sign-up a {
  color: black;
}
.btn-secondary {
  float: right;
  border: none;
  background: none;
  outline-color: none;
  text-decoration: none;
}

.btn-secondary:focus{
  border: none;
  outline-color: none;
}

.btn-secondary:active {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.form-control {
  margin: 10px auto;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
}

video {
  background: black;
  margin-top: 2px;
  border: 2px solid black;
  width: 100%;
  /*height: auto;*/
}

.sM {
  /*border: 2px solid red;*/
  display: inline-block;
  padding: 5px;
}

#social-media {
  /*border: 2px solid blue;*/
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

#gamingTitle {
  /*border: 2px solid red;*/
  text-align: center;
  /*border-bottom: 1px solid black;*/
  margin: 0 auto;
  width: 50%;
  padding-bottom: 8px;
}

.sM a {
  color: black;
  text-decoration: none;
}

.sM a:visited {
  text-decoration: none;
}

#video-controls {
  background: rgba(0,0,0,0.01);
}

.pL {
  background: none;
  border-color: none;
}

.fS {
  float: right;
  background: none;
  border-color: none;
}

.vL {
  float: right;
  background: none;
  border-color: none;
}

.btn-default {
  border-color: rgba(0,0,0,0.0)
}

.btn-default:hover {
  background: none;
  border-color: rgba(0,0,0,0.0)
}

.btn-default:visited {
  outline-color: none;
  background: none;
  border-color: rgba(0,0,0,0.0)
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 10%;
  padding: 0;
  margin: 0 auto;
}

.dropdown-menu {
    min-width: 0;
    min-height: 10%;
}



/*==================*/
/*ANIMATIONS*/
@keyframes breathe {
  0% {
    color: yellow;
    opacity: 1;
  }
  60% {
    color: green;
    opacity: 0.5;
  }
  100% {
    color: white;
    opacity: 1;
  }
}

@keyframes leftIntro {
  0% { transform: translate(-1000%, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes rightIntro {
  0% { transform: translate(1000%, 0); }
  100% { transform: translate(0, 0); }
}
/*===================*/
